

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el border no afecten al ancho del elemento */
}

html{
    background: linear-gradient(to right, #101424, #16213e);
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", serif;
    color: #C5C6C7;
    margin: 0;
    padding: 0 200px;
    font-size: 1rem;

}

.header{
    color: #f7e710;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #fffffff6;
    background: transparent;
}

.nav-link{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.nav-link a {
    font-family: "Oswald", serif;
    text-decoration: none;
    color: #C5C6C7;
    font-size: 1rem;
    padding: 2px 5px;
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
}

.nav-link a:hover {
    background-color: #00adb5;
    color: #222831;
    transform: scale(1.1);
}

.nav-nombre{
    font-size: 30px;
    font-family: "Oswald", serif;
    margin-left: 40px;
    color: #ffffff;

}
main{
    padding: 20px;
    border-radius: 10px;    

}


.titulo{
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 10px 0px;
    font-size: 1.4rem;
    color: #9eb9f3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 25px;
}


.hero-perfil{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding: 20px 0px;
}

.hero-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.hero-email{
    margin: 0px 60px;

}

.hero-button{
    display: flex;
    justify-content: center;
}

.hero-image-right{
    display: flex;
    flex-direction: column;
}

.hero-image-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #000000;
}

.hero-content{
    display: grid;
    grid-template-rows: 0.3fr auto;
}

.hero-content p{
    font-size: 1.1rem;
}

.hero-city{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-text{
    margin-top: 10px;
}

.hero-text h1{
    font-weight: 900;
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #2563eb;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    width: auto;
    padding: 10px;
}

.nombre:hover {
    background-color: #1d4ed8; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.nombre:active {
    transform: scale(0.95); 
}

.nombre:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}

.boton2{
    display: flex;
    justify-content: right;
}

.banner{
    background-color: #3f5372;
    border-radius: 10px;
    padding: 20px;
}

.banner-tecnologias{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
}

.banner-superior{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
}

.bordeado{
    border-radius: 5px;
}

.bordeado2{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.banner-inferior{
    text-align: center;    
}

.tecnologia-item {
    background-color: #222831;
    padding: 6px;
    border-radius: 10px;
    color: #eeeeee;
    transition: transform 0.3s ease-in-out;
}

.tecnologia-item:hover {
    transform: scale(1.05);
}

.tecnologia-tarjeta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3px;
    
}

.imagenes  {
    width: 100px;
    border-radius: 10px;
    background-color: #101424;
    padding: 4px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.imagenes-content{
    width: 82px;
}


.experiencia-contenido{
    background-color: #222831;
    border-radius: 10px;
}

.experiencia-item{
    padding: 10px;
    border-bottom: 1px solid #474545;
}

.proyectos{

}

.proyectos-contenido{
    background-color: #3f5372;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.proyecto-item{

    background-color: #222831;
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #00adb5;
    text-align: center;
}



.btnt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 

    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #2563eb;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    margin: 10px;
    width: 100px;
    padding: 10px;
}

.btnt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #2563eb;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    margin: 10px;
    width: auto;
    padding: 10px;
}



.btnt:hover {
    background-color: #1d4ed8; /* Azul más oscuro */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.btnt:active {
    transform: scale(0.95); /* Efecto de clic */
}

.btnt:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}



.btnt2:hover {
    background-color: #1d4ed8; /* Azul más oscuro */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.btnt2:active {
    transform: scale(0.95); /* Efecto de clic */
}

.btnt2:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}
.imagen-icono{
    width: 32px;
}
