

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el border no afecten al ancho del elemento */
}

html{
    background: linear-gradient(to right, #101424, #16213e);
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", serif;
    color: #C5C6C7;
    margin: 0;
    padding: 0 200px;
    font-size: 1rem;

}

.header{
    color: #f7e710;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #fffffff6;
    background: transparent;
}

.nav-link{

    display: flex;
    justify-content: center;
    gap: 3px;
}

.nav-link a {
    font-family: "Oswald", serif;
    text-decoration: none;
    color: #C5C6C7;
    font-size: 1rem;
    padding: 2px 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.efecto-borde{
    position: relative;
    transition: transform 0.2s, box-shadow 0.3s;
    padding: 2px;
}

.efecto-borde::after{
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #3498db;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out,background-color 0.3s ease-in-out;
}

.efecto-borde:hover::after{
    transform: scaleX(1);
}

.efecto-borde-section{

    position: relative;
    transition: transform 0.2s, box-shadow 0.3s;
    padding: 2px;
    margin-top: 30px;
}


.efecto-borde-section::after{
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #3498db;
    transform-origin: center;
    transform: scaleX(0.5);
    transition: transform 0.3s ease-in-out,background-color 0.3s ease-in-out;
}

.efecto-borde-section:hover::after{
    transform: scaleX(1);
}



.nav-link a:active {
    transform: scale(0.95); 
}

.nav-link a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}

.nav-nombre{
    font-size: 30px;
    font-family: "Oswald", serif;
    margin-left: 40px;
    color: #ffffff;

}
main{
    padding: 20px;
    border-radius: 10px;    

}

.titulo{
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 10px 0px;
    font-size: 1.4rem;
    color: #9eb9f3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 10px 0px
}

.titulo h1{
    font-size: 2rem;

}
.tecnologia{
    position: relative;
    transition: transform 0.2s ease-in-out;
}





.hero{
    display: grid;
    grid-template-columns: 3fr 1fr ;
}

.hero-text{
    margin-right: 60px;
    margin-top: 20px;
}

.hero h1{
    font-size: 3.3rem;
    margin-bottom: 20px;
    line-height: 46px;
}

.hero h3{   
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 26px;

}

.hero article{
    font-size: 1.1rem;
}
.text-color{
    color: #9eb9f3;
}

.hero-email{
    display: flex;
    justify-content: start;
    margin-top: 25px;
}


.hero-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.hero-perfil{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding: 20px 0px;
}

.hero-button{
    display: flex;
    justify-content: center;
}
.hero-image-right{
    display: flex;
    flex-direction: column;
}

.hero-image-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen{
    width:100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #8e87e4;
    transition: transform 0.2s ease-in-out;
}

.imagen:hover{
    transform: scale(1.05);
}

.hero-content{
    display: grid;
    grid-template-rows: 0.3fr auto;
}

.hero-content p{
    font-size: 1.1rem;
}

.hero-city{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.hero-text h1{
    font-weight: 900;
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #2563eb;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    width: auto;
    padding: 10px;
}

.nombre:hover {
    background-color: #1d4ed8; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.nombre:active {
    transform: scale(0.95); 
}

.nombre:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}

.boton{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

}

.material-symbols-outlined {
    color:#ffffff;
    width: auto;
    
}


.banner{
    background-color: #3f5372;
    border-radius: 10px;
    padding: 20px;
}



/*TECNOLOGIAS*/



.banner-tecnologias{
    padding: 10px;
    display: grid;
    text-align: center;
}

.banner-superior{
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.bordeado{
    border-radius: 5px;
}

.bordeado2{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
}

.banner-inferior{
    text-align: center;    
}

.tecnologia-item {
    background-color: #222831;
    padding: 6px;
    border-radius: 10px;
    color: #eeeeee;
    transition: transform 0.3s ease-in-out;
}

.tecnologia-item:hover {
    transform: scale(1.03);
}

.tecnologia-tarjeta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
}

.imagenes-tarjeta  {
    border-radius: 10px;
    background-color: #101424;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
}

.imagenes-content{
    width: 32px;
    margin-right: 10px;
}


/*EXPERIENCIA*/

.experiencia-contenido{
    background-color: #222831;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experiencia-item{  
    background-color: #101424;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.experiencia-item:hover{
    background-color: #141829;
    transform: scale(1.05);
}

.experiencia-item h1 {
    font-size: 1.6rem;
    line-height: 29px;

}

.experiencia-item h3 {
    color:#84a9f8;
    font-size: 0.8rem;
    margin-bottom: 6px;
}

.experiencia-item p {
    color:#e2e2e2;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 10px 2px 10px 2px;
    margin:5px 0px;
    line-height: 20px;

}


.proyectos-contenido{
    background-color: #3f5372;
    border-radius: 10px;
    padding: 20px;
}

.proyecto-banner{
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:20px;
}

.proyecto-card{
    background-color: #141829;
    border-radius: 10px;
    padding: 15px;
    text-align: center;

}



.card-image{
    display: flex;
    justify-content: center;
    background-color: #212744;
    border-radius: 10px;
    padding: 10px;
}

.card-content{
    margin: 10px;
    text-align: start;
}
.card-content h2{
    margin: 10px 0px;
}





/*BOTONES*/


.btnt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: solid 1px #2563eb;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    margin: 10px;
    width:auto;
    padding: 10px;
}


.btnt:hover {
    background-color: #1d4ed8; /* Azul más oscuro */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.btnt:active {
    transform: scale(0.95); /* Efecto de clic */
}

.btnt:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}

.btnt2:hover {
    background-color: #1d4ed8; /* Azul más oscuro */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.btnt2:active {
    transform: scale(0.95); /* Efecto de clic */
}

.btnt2:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}
.imagen-icono{
    width: 32px;
}

/*ANIMACION*/
.hidden {
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.4s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/*FORMACION*/
.banner-formacion{
    background-color: #3f5372;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    margin: px;
    margin: 40px 0px;
    transition:transform 0.2s ease-in-out;

}

.banner-formacion:hover{
    transform: scale(1.05);
}


.banner-izquierda{
    text-align: center;
    border-right: #212744 solid 3px;
}

.banner-derecha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.formacion-contenido{
    background-color: #101424;
    border-radius: 10px;
    margin:5px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

.icono{
    font-size: 48px !important;
    margin-right: 5px;
}