

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s .5s ease-in-out;
    --transform: translateY(-100vh);
    --transition: transform .5s ease-in-out;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s ease-in-out;
    --transform: translateY(0);
    --transition: transform .5s .10s ease-in-out;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #3a3a3a;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    font-size: 1.1rem;

    margin-bottom: 10px;
}


.modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 800;
    border: solid 1px #93a4ca;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    margin: 10px;
    width: 50%;
    padding: 10px;
}


.modal__close:hover {
    background-color: #1d4ed8; /* Azul más oscuro */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.modal__close:active {
    transform: scale(0.95); /* Efecto de clic */
}

.modal__close:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); 
}
