/* ==========================================================
   PAGE LAYOUT
========================================================== */

main {
  position: relative;
  overflow: hidden;
}

/* ==========================================================
   SECTIONS
========================================================== */

.section {
  position: relative;
  z-index: 1;

  padding-block: var(--section-spacing);
}

.section + .section {
  border-top: 1px solid var(--color-border);
}

/* ==========================================================
   SECTION VARIANTS
========================================================== */

/* ==========================================================
   SECTION CONTENT
========================================================== */

.section > .container {
  position: relative;
  z-index: 2;
}
