/* =========================================================
   UTILIDADES VISUALES
   ========================================================= */

.text-muted-custom {
  color: var(--color-text-muted);
}

.text-soft {
  color: var(--color-text-soft);
}

.text-primary-custom {
  color: var(--color-primary-light);
}

.bg-surface-custom {
  background-color: var(--color-surface);
}

.border-custom {
  border-color: var(--color-border) !important;
}
